extends ./common/_layout.pug

block title
  title SamplePaage

block content
  include ./common/_header.pug
  h1#title これは１ページ目です.
  p:i.fa.fa-camera-retro 日付を選ぶ：
    input(type="text" id="sample-calender")


  include ./common/_fotter.pug