/**
 * 独自定義部分
 */

body {
  font: 16px/1.5 "Roboto", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, helvetica, sans-serif;
  background: #F6F6F6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.tab-flat-group {
  display: flex;
  /*justify-content: space-around;*/
  
}

.tab-flat {
  color: #f1f1f1;
  text-align: center;
  flex-grow: 1;
  line-height: 2;
  cursor: pointer;
}
.tab--active {
  color: #ffffff;  
  border: 3px solid #ff4081 ;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
}


.sidebar {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  background-color: red;
  transform: translateX(-100%);
  transition: transform 300ms linear;
}

.slideLeftToRight {
  transform: none;
  transition: transform 300ms linear;
}