/**
 * 独自定義部分
 */

body {
  font: 16px/1.5 "Roboto", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, helvetica, sans-serif;
  background: #F6F6F6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-title {
  font-size: 36px;
  
}

.start-area {
  width: 100%;
  background-image: linear-gradient(-90deg, #FF00A1, #F6FF00);
  opacity: 0.5;
  /*animation: huerotator 3s infinite alternate;*/
}

.btn-transparent {
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 2px;
}

.js-card {
  margin-top: 60px;
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.fade_in_up {
    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-60px);
    }
}