doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="lib/jquery-ui-1.12.1/jquery-ui.min.css")
    link(rel="stylesheet", href="lib/fontawsome/font-awesome.min.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    block title
      title ページタイトル
  body
    block content
    script(src="lib/jquery-ui-1.12.1/external/jquery/jquery.js")
    script(src="lib/jquery-ui-1.12.1/jquery-ui.min.js")
    script(src="scripts/main.js")
    